body {
  background-size: 9.2%;
  padding: 1rem;
}

section > div {
  width: 80%;
  margin: 20px auto;
}

form {
  margin-top: 50px;
}

dl {
  padding: 15px 10px;
}

dl > li {
  list-style: none;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }
}

button{
  background-color: green;
  color: purple;
  font-size: 24pt;
  border-width: 8px 8px;
  vertical-align: top;
  height: 50px;
  width: 120px;
}

label{
  color: aqua;
  font-size: 18pt;
  
}
